.searchform {
  position: relative;
  max-width: 300px;
}

.searchform-input {
  padding: 8px;
  
  width: 100%;
  border: 1px solid #bbb;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
}

.searchform-icon {
  position: absolute;
  top: 8px;
  right: 0;
}